body{
    background-image: url(../images/green_cup.png);
    margin: 0px;

}

section{
    display:flex;
    justify-content: center;
    padding-top: 130px;
}

h2{
    width: 90%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-color: #dddddd;
    color:#4aaaa5;
    padding: 30px 0px 30px 0px;


}

.content{
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    min-height: calc(100vh-70px);
    
}

.head-shot{
    display:block;
    margin-left: auto;
    margin-right: auto;

}
p{
    font-family: Arial, 'helvetica Neue', Helvetica, sans-serif;
    margin: 16px;
    color: #777777;
}